ul{
	border-bottom:3px solid grey;
	border-left:3px solid grey;
	border-right:3px solid grey;
	border-top:3px solid red;
	height:40px;
	width:840px;
	background:grey;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
li{
	float:left;
	list-style-type: none; /* Убираем маркеры */
	margin-left:10px;
}
a{
	text-decoration: none;
	margin-top:10px;
	float:left;
	color:white;
}