nav{
	border-bottom:3px solid #595551;
	border-left:3px solid #595551;
	border-right:3px solid #595551;
	border-top:3px solid #D32D30;
	height:40px;
	width:840px;
	background:#595551;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
ul{
	margin:0 auto;


}
li{
	float:left;
	list-style-type: none; /* Убираем маркеры */
	width:110px;
}
a{
	text-decoration: none;
	margin-top:10px;
	float:left;
	color:white;

}
li:hover{
	float:left;
	list-style-type: none; /* Убираем маркеры */
	border-radius:10px;
	background:#D32D30;
	height:42px;
	width:110px;
}